@mixin GenerateColumns($amount) {
  @for $i from 1 through $amount {
    &:nth-of-type(#{$amount}n + #{$i}) {
      grid-column: #{$i + $i - 1} / span 3;
      @if $i % 2 == 0 {
        grid-row: calc(var(--counter) + var(--counter) - 1) / span 2;
      }
    }
  }
}

@mixin GenerateRows($amount) {
  @for $i from 1 through 20 {
    &:nth-of-type(n + #{$i * $amount + 1}) {
      --counter: #{$i + 1};
    }
  }
}

@mixin UiHexGridLayout(
  $desktopColumns: 7,
  $tabletColumns: 5,
  $mobileColumns: 3,
  $gap: 4,
  $border: 2px,
) {
  --counter: 1;

  @include UiMediaDesktop() {
    --amount: #{$desktopColumns};
    $gapValue: UiGridSpacing($gap);
    grid-gap: $gapValue ($gapValue * 2);
  }

  @include UiMediaTablet() {
    --amount: #{$tabletColumns};
    $gapValue: UiGridSpacing($gap);
    grid-gap: $gapValue ($gapValue * 2);
  }

  @include UiMediaMobile() {
    --amount: #{$mobileColumns};
    $gapValue: UiGridSpacingMobile($gap);
    grid-gap: $gapValue ($gapValue * 2);
  }

  display: grid;
  list-style-type: none;
  margin: 0;
  padding: 0;
  grid-template-columns: repeat(var(--amount), 1fr 2fr) 1fr;

  &-item {
    position: relative;
    height: 0;
    padding-bottom: 90%;
    grid-column: 1 / span 3;
    grid-row: calc(var(--counter) + var(--counter)) / span 2;
    clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);

    @include UiMediaDesktop() {
      @include GenerateColumns($desktopColumns);
      @include GenerateRows($desktopColumns);
    }

    @include UiMediaTablet() {
      @include GenerateColumns($tabletColumns);
      @include GenerateRows($tabletColumns);
    }

    @include UiMediaMobile() {
      @include GenerateColumns($mobileColumns);
      @include GenerateRows($mobileColumns);
    }
  }

  &-item-content {
    position: absolute;
    left: $border;
    top: $border;
    height: calc(100% - #{$border * 2});
    width: calc(100% - #{$border * 2});
    clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
  }
}
