<div class="copyright">
  <a href="{{ links.kwokka }}">
    <img class="copyright__kwokka-logo" src="/public/kwokka_logo.svg" alt="Kwokka" loading="lazy"/>
  </a>
  <p class="copyright__text">{{ site.copyright }}</p>
</div>
