<section class="faq">
  <div class="faq__container">
    <h2 class="faq__heading">{{ 'faq.heading' | i18n }}</h2>
    <div class="faq__items">
      <div class="faq__item">
        <h3 class="faq__item-heading">{{ 'faq.questionFree' | i18n }}</h3>
        <p class="faq__item-caption">{{ 'faq.questionFreeAnswer' | i18n }}</p>
      </div>
      <div class="faq__item">
        <h3 class="faq__item-heading">{{ 'faq.questionStart' | i18n }}</h3>
        <p class="faq__item-caption">{{ 'faq.questionStartAnswer' | i18n }}</p>
      </div>
      <div class="faq__item">
        <h3 class="faq__item-heading">{{ 'faq.questionDevices' | i18n }}</h3>
        <p class="faq__item-caption">{{ 'faq.questionDevicesAnswer' | i18n }}</p>
      </div>
      <div class="faq__item">
        <h3 class="faq__item-heading">{{ 'faq.questionCountry' | i18n }}</h3>
        <p class="faq__item-caption">{{ 'faq.questionCountryAnswer' | i18n }}</p>
      </div>
      <div class="faq__item">
        <h3 class="faq__item-heading">{{ 'faq.questionAds' | i18n }}</h3>
        <p class="faq__item-caption">{{ 'faq.questionAdsAnswer' | i18n }}</p>
      </div>
      <div class="faq__item">
        <h3 class="faq__item-heading">{{ 'faq.questionPrivateLobby' | i18n }}</h3>
        <p class="faq__item-caption">{{ 'faq.questionPrivateLobbyAnswer' | i18n }}</p>
      </div>
    </div>
  </div>
</section>
