<section class="game-features">
  <div class="game-features__container">
    <h2 class="game-features__heading">{{ 'gameFeatures.heading' | i18n }}</h2>

    <div class="game-features__features">
      <div class="game-features__feature">
        <div class="game-features__feature-image-container">
          <img class="game-features__feature-image" src="/public/blocks/game-features/free.webp" alt="{{ 'gameFeatures.free' | i18n }}" loading="lazy"/>
          <div class="game-features__feature-image-frame"></div>
        </div>
        <h3 class="game-features__feature-name">{{ 'gameFeatures.free' | i18n }}</h3>
        <p class="game-features__feature-caption">{{ 'gameFeatures.freeCaption' | i18n }}</p>
      </div>

      <div class="game-features__feature">
        <div class="game-features__feature-image-container">
          <img class="game-features__feature-image" src="/public/blocks/game-features/accessible.webp" alt="{{ 'gameFeatures.accessible' | i18n }}" loading="lazy"/>
          <div class="game-features__feature-image-frame"></div>
        </div>
        <h3 class="game-features__feature-name">{{ 'gameFeatures.accessible' | i18n }}</h3>
        <p class="game-features__feature-caption">{{ 'gameFeatures.accessibleCaption' | i18n }}</p>
      </div>

      <div class="game-features__feature">
        <div class="game-features__feature-image-container">
          <img class="game-features__feature-image" src="/public/blocks/game-features/fast.webp" alt="{{ 'gameFeatures.fast' | i18n }}" loading="lazy"/>
          <div class="game-features__feature-image-frame"></div>
        </div>
        <h3 class="game-features__feature-name">{{ 'gameFeatures.fast' | i18n }}</h3>
        <p class="game-features__feature-caption">{{ 'gameFeatures.fastCaption' | i18n }}</p>
      </div>

      <div class="game-features__feature">
        <div class="game-features__feature-image-container">
          <img class="game-features__feature-image" src="/public/blocks/game-features/content.webp" alt="{{ 'gameFeatures.content' | i18n }}" loading="lazy"/>
          <div class="game-features__feature-image-frame"></div>
        </div>
        <h3 class="game-features__feature-name">{{ 'gameFeatures.content' | i18n }}</h3>
        <p class="game-features__feature-caption">{{ 'gameFeatures.contentCaption' | i18n }}</p>
      </div>
    </div>

    <a class="hide_min-width-sm link-reset button button_type-primary button_size-sm nine-box" href="{{ links.app }}">
      <span>{{ 'playNow' | i18n }}</span>
    </a>
    <a class="hide_max-width-sm link-reset button button_type-primary button_size-md nine-box" href="{{ links.app }}">
      <span>{{ 'playNow' | i18n }}</span>
    </a>
  </div>
</section>
