<div class="play-now">
  <h3 class="play-now__heading">{{ 'playNowBlock.title' | i18n }}</h3>
  <p class="play-now__paragraph">{{ 'playNowBlock.paragraph' | i18n }}</p>
  <a class="link-reset button button_type-primary button_size-sm nine-box" href="{{ links.app }}">
    <span>{{ 'playNow' | i18n }}</span>
  </a>
</div>