<section class="story">
  <div class="story__container">
    <div class="story__card action-card nine-box">
      <div class="story__heading-panel scroll-panel nine-box">
        <h2 class="story__heading">{{ 'story.heading' | i18n }}</h2>
      </div>
      <div class="story__card-inner">
        <div class="story__card-texture"></div>
        <div class="story__content">
          <div class="story__img-container">
            <img class="story__img" src="/public/blocks/story/illustration.webp" alt="{{ 'story.illustrationAlt' | i18n }}" loading="lazy"/>
            <div class="story__img-frame"></div>
          </div>
          <p class="story__paragraph">{{ 'story.paragraph' | i18n }}</p>
        </div>
      </div>
    </div>
  </div>
</section>