<main class="main">
  {% include 'blocks/hero.njk' %}
  {% include 'blocks/divider-full.njk' %}
  {% include 'blocks/how-to-play.njk' %}
  {% include 'blocks/game-features.njk' %}
  {% include 'blocks/divider-full.njk' %}
  {# {% include 'blocks/trailer.njk' %} #}
  {% include 'blocks/story.njk' %}
  {% include 'blocks/divider-full.njk' %}
  {% include 'blocks/faq.njk' %}
</main>