@mixin UiButtonAppearance() {
  cursor: pointer;
  background-color: transparent;
  color: inherit;
  border: none;

  &:focus-visible:not(:disabled):not([aria-disabled]),
  &:hover:not(:disabled):not([aria-disabled]) {
    filter: brightness(1.1);
  }

  &:active:not(:disabled):not([aria-disabled]) {
    filter: brightness(1.2);
  }

  &:disabled,
  &[aria-disabled] {
    cursor: not-allowed;
    opacity: 0.45;
  }
}
