$unit: 4px !default;

@mixin UiPadding($size, $side: null) {
  $property-name: padding;
  @if ($side) {
    $property-name: padding-#{$side};
  }

  #{$property-name}: UiSpacing($size);
}

@mixin UiMargin($size, $side: null) {
  $property-name: margin;
  @if ($side) {
    $property-name: margin-#{$side};
  }

  #{$property-name}: UiSpacing($size);
}

@mixin UiGap($size) {
  gap: UiSpacing($size);
}

@function UiSpacing($size) {
  @return $unit * $size;
}
