$colors: (
  shade-100: #fff,
  shade-200: #eeeeee,
  shade-300: #e0e0e0,
  shade-400: #bdbdbd,
  shade-500: #9e9e9e,
  shade-600: #757575,
  shade-700: #616161,
  shade-800: #424242,
  shade-900: #212121,
  negative-100: #ffbaad,
  negative-200: #ff9785,
  negative-300: #ff745c,
  negative-400: #ff5233,
  negative-500: #ff330f,
  negative-600: #f52500,
  negative-700: #e02200,
  negative-800: #cc1f00,
  negative-900: #a31800,
  positive-100: #d6ffeb,
  positive-200: #adffd8,
  positive-300: #70ffba,
  positive-400: #1fff93,
  positive-500: #00e676,
  positive-600: #00cc69,
  positive-700: #00a354,
  positive-800: #007a3f,
  primary-100: #ffd9ad,
  primary-200: #ffc685,
  primary-300: #ffb35c,
  primary-400: #ffa033,
  primary-500: #ff8b03,
  primary-600: #f58300,
  primary-700: #e07800,
  primary-800: #cc6d00,
  primary-900: #b86200,
  secondary-100: #efdabd,
  secondary-200: #e8c79c,
  secondary-300: #e0b47b,
  secondary-400: #d8a15a,
  secondary-500: #d08f39,
  secondary-600: #b6792b,
  secondary-700: #a56e27,
  secondary-800: #956323,
  secondary-900: #84581f,
  blue-100: #d6f3ff,
  blue-200: #ade8ff,
  blue-300: #70d7ff,
  blue-400: #33c5ff,
  blue-500: #00b7ff,
  blue-600: #00a1e0,
  blue-700: #0092cc,
  blue-800: #0084b8,
  blue-900: #00668f,
  element-nature: #6ea43d,
  element-filth: #bd0f4f,
  element-arcane: #73d2de,
) !default;

:root {
  @each $name, $color in $colors {
    $red: color.channel($color, 'red', rgb);
    $green: color.channel($color, 'green', rgb);
    $blue: color.channel($color, 'blue', rgb);
    --pwsm-#{$name}: #{$red}, #{$green}, #{$blue};
  }
}
