---
layout: layouts/contentful.njk
title: Pawsome Elements | Сведения о Компании
pageTitle: Сведения о Компании
---

{% set redirect = { locales: ["en"], link: links.legalNotice } %}
{% include 'blocks/redirect-to-other-locales.njk' %}