---
layout: layouts/contentful.njk
title: Pawsome Elements | Политика Конфиденциальности
pageTitle: Политика Конфиденциальности
---

{% set redirect = { locales: ["en"], link: links.privacyPolicy } %}
{% include 'blocks/redirect-to-other-locales.njk' %}